aliyun-python-sdk-core==2.13.3
gevent==20.9.0
greenlet==0.4.17
jmespath==0.10.0
pycryptodome==3.9.8
six==1.15.0
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.5.0
zope.interface==5.1.2
aliyun-python-sdk-core==2.13.3
gevent==20.9.0
greenlet==0.4.17
jmespath==0.10.0
pycryptodome==3.9.8
six==1.15.0
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.5.0
zope.interface==5.1.2
